@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');


.brand-logo {
    font-family: 'Grand Hotel', cursive;   
}

.acc {
    color: #00008b;
}



.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 150px auto;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width:30%;
}


.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}


/* Create Post */

.create {
    margin: 30px auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.material-icons:hover{
    cursor: pointer;
}